*{
              background: url(./back2.jpg);
              background-repeat: no-repeat;
              background-size:cover ;
              
}
div{
              position: absolute;
              top: 33%;
              left: 33%;
              border-radius: 5px;
              background-color: aliceblue;
              margin-left: 10px;
              margin-right: 10px;
              padding-left: 10px;
              padding-right: 10px;
              background: #ff69b4;

}
h2{
              
              background-color:aliceblue ;
              text-align: center;
              background: #ff69b4;
}
p{
              background-color: aliceblue;
              text-align: center;
              background: #ff69b4;
}
big{ background: #ff69b4;
              color: darkblue;

}
button{   
              position:absolute;
              top: 68%;
              left: 45%;
              display: inline-block;
              outline: none;
              cursor: pointer;
              font-size: 14px;
              line-height: 1;
              border-radius: 500px;
              transition-property: background-color,border-color,color,box-shadow,filter;
              transition-duration: .3s;
              border: 1px solid transparent;
              letter-spacing: 2px;
              min-width: 160px;
              text-transform: uppercase;
              white-space: normal;
              font-weight: 700;
              text-align: center;
              padding: 16px 14px 18px;
              color: #616467;
              box-shadow: inset 0 0 0 2px #616467;
              background: #ff77ff;
              height: 48px;
             
}
          
button:hover{
              color: #fff;
                  background-color: pink;
}

@media screen and ( max-width: 600px){
    *{
        background: url(./Yato\ And\ Hiyori.jpg);
        background-size: cover;
        background-repeat: repeat;
    }
    div{
            position: absolute;
            top: 23%;
            left: 4%;
            border-radius: 5px;
            background: transparent;
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 10px;
            padding-right: 10px;
            background: #ff69b4;
            right: 4%;
    }
    button{
        position: absolute;
    top: 59%;
    left: 27%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background: #ff77ff;
    height: 48px;
    }
    h2{
        background: transparent;
    }
    p{
        background: transparent;
        font-family: 'Poppins', sans-serif;
    }
}